*.swp
app/app.iml
*.iml
local.properties
class_files.txt
seeds.txt
unused.txt
mapping.txt
/captures
/app/build
/build
/bin
/buck-out
/out
/gen
/obj
/.settings
/.buckd
/.directory
build.xml
ant.properties
/.gradle
/.idea/libraries
local.properties
.idea/
.gradle/
.DS_Store
signing.properties